@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

h1,
h2 {
  color: black !important;
}

div {
  background-color: white;
}

strong {
  font-weight: bold !important;
  color: black;
}

body {
  font-family: "Nunito+Sans", sans-serif;
}
